form.enter-notice {
    width: 500px;
    margin-left: 5%;
    margin-top: 50px;
}
button.notification.notice {
    margin-bottom: 50px;
    margin-left: 20%;
}
.dum{
    margin-top: 50px;
    width: 500px;
}