<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>You are added as a Manager - WCE Hostel Sangli</title>

    <style>
        h3 { 
            color: #6c67c5;
        }
        link {
            color: #0b56f9;
        }
        b {
            color: black;
        }
    </style>
</head>
<body>
    <h3>Hello {{name}} ,</h3>
    <p>Your Account has been created on WCE Hostel Management and Allocation System.</p>
    {{!-- <br> <p style="color: rgb(133, 128, 128);">If you did not request this, please ignore this email</p> --}}
    <p>Your email/username is : <br>
    <link>{{email}}
    
    <br> Password : <b>{{password}}</b> </p>

    <p> It is recommended that you change your password once you have logged in successfully</p>
 
    <footer>Team WCE </footer>
    
    
</body>
</html>